@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Geeks';
  src: url('../pages/fonts/geeks.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'firesans';
  src: url('../pages/fonts/firesans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: 'Geeks', sans-serif;
  font-family: 'Firesans', sans-serif;

}html {
  scroll-behavior: smooth; /* Enable smooth scrolling */
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

#cinzel {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
